<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="LinkKS.Business.Properties.Settings.ShortedLinkConnectionString"
            connectionString="Data Source=DESKTOP-8R0Q6JT;Initial Catalog=ShortedLink;Integrated Security=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
</configuration>